@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Panel del Administrador";
}

<div class="container mt-5">
    <h1 class="mb-4">Panel del Administrador</h1>

    <div class="row">
        <!-- Empresas -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Empresas</h5>
                    <p class="card-text">Gestiona las Empresas para las Practicas.</p>
                    <a asp-area="Admin" asp-controller="Empresas" class="btn btn-primary">Ver Empresas</a>
                </div>
            </div>
        </div>


        <!-- Alumnos -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Alumnos</h5>
                    <p class="card-text">Gestiona los alumnos de prácticas.</p>
                    <a asp-area="Admin" asp-controller="Empresas" class="btn btn-primary">Ver Alumnos</a>
                </div>
            </div>
        </div>

        <!-- Tutores -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Tutores de las Empresas</h5>
                    <p class="card-text">Gestiona los tutores de las empresas de practicas.</p>
                    <a asp-area="Admin" asp-controller="Empresas" class="btn btn-primary">Ver Tutores de Empresa</a>
                </div>
            </div>
  
</div>
</div>
</div>
