@model IEnumerable<FCTGestion.Models.Empresa>

@{
    ViewData["Title"] = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Empresas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Dirección</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empresa in Model)
        {
            <tr>
                <td>@empresa.Nombre</td>
                <td>@empresa.Telefono</td>
                <td>@empresa.Direccion</td>
            </tr>
        }
    </tbody>
</table>
