@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contacto";
}

<h2>Contacto</h2>

<p>¿Tienes alguna consulta o necesitas asistencia? Estamos aquí para ayudarte.</p>

<div class="contact-info">
    <p><strong>Correo Electrónico:</strong> <a href="mailto:soporte@fctgestion.com">soporte@fctgestion.com</a></p>
    <p><strong>Teléfono:</strong> +34 123 456 789</p>
    <p><strong>Dirección:</strong> Calle Travesia Espronceda, 16, 31015 Pamplona, España</p>
    <p><strong>Horario de Atención:</strong> De lunes a viernes, de 9:00 a 18:00 horas.</p>
</div>

