

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Inicia sesion y podras utilizar las funciones propias de tu usuario.</h1>
</div>
