@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Aviso Legal";
}

<h2>Aviso Legal</h2>

<p>Última actualización: [16/05/2025]</p>

<h3>1. Información del Sitio Web</h3>
<p>Este sitio web es propiedad de Javier Andueza y está destinado a la gestión de las FCT de los alumnos.</p>

<h3>2. Responsabilidad del Contenido</h3>
<p>No nos hacemos responsables del mal uso del contenido publicado en la plataforma por parte de los usuarios. Los enlaces externos presentes en el sitio web no están bajo nuestro control y no garantizamos su disponibilidad o exactitud.</p>

<h3>3. Propiedad Intelectual</h3>
<p>Todo el contenido, incluyendo textos, imágenes y logotipos, es propiedad del titular del sitio web y está protegido por las leyes de propiedad intelectual.</p>

<h3>4. Exención de Responsabilidad</h3>
<p>No seremos responsables de los daños o perjuicios derivados del acceso o uso del sitio web, incluyendo errores en los sistemas o virus informáticos.</p>

<h3>5. Modificaciones del Aviso Legal</h3>
<p>Nos reservamos el derecho de modificar este aviso legal en cualquier momento. Las actualizaciones se publicarán en esta misma página.</p>
