@model FCTGestion.Models.TutorEmpresa

@{
    ViewData["Title"] = "Eliminar Tutor de Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h4>¿Estás seguro que deseas eliminar este tutor?</h4>
<hr />
<dl class="row">
    <dt class="col-sm-3">Nombre</dt>
    <dd class="col-sm-9">@Model.Nombre</dd>

    <dt class="col-sm-3">Correo</dt>
    <dd class="col-sm-9">@Model.Correo</dd>

    <dt class="col-sm-3">Empresa</dt>
    <dd class="col-sm-9">@Model.Empresa?.Nombre</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
