@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<main role="main" class="flex-grow-1 container pb-3">
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            <h1 class="mb-3">Gestiona tu cuenta</h1>
            <p class="text-muted">Modifica la configuración de tu cuenta</p>
            <hr />
            @RenderBody()
        </div>
    </div>
</main>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
